body {
  margin: 0;
  background:linear-gradient(to left,#AAAA3F,#00FF6C);
display: flex;

justify-content: center;
}
*,*::before,*::after{
  box-sizing: border-box;
}
.calculator-grid{
  display:grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4,6rem );
  grid-template-rows:minmax(6rem,auto) repeat(5,6rem);
 
}
.calculator-grid>button{
  cursor: pointer;
  font-size: 2rem;
  border:1px solid white;
  outline:none;
  background-color:rgba(255,255,255,.75);
  
}
.calculator-grid>button:hover,
.calculator-grid>button:focus{
  background-color:rgba(255,255,255,0.9);
} 
.span-two{
  grid-column: span 2;
}
.output{
  grid-column: 1/-1;
  background-color: rgba(0, 0, 1, .95);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}
.output .previous-operand{
  color:rgba(255,255,255,.75);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3px;
}
.output .current-operand{
  color:rgba(255,255,255,1);
  font-size: 2.5rem;

}

